@import url('https://fonts.cdnfonts.com/css/shantell-sans');
@import url('https://fonts.cdnfonts.com/css/playpen-sans');
*{
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-darkRed: rgb(142, 1, 1);
    --font-title: 'Playpen Sans', sans-serif;
    --font-text: 'Shantell Sans', sans-serif;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    place-items: center;
    justify-content: center;
}

body {
    min-height: 100vh;
    background: url(/img/market.jpeg) no-repeat center / cover;
}

.contentApp{
    width: 100%;
    min-height: 100vh;
    margin: 2.5rem 0 1.5rem;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
    position: relative;
    user-select: none; //avoids selection of elements
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--color-darkRed);
    border-radius: 15px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--color-black);
}

//add-item-form
.add-item-form{
    width: 250px;
    padding: 2rem;
    @include flex-column();
    gap: 1rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, .8);
    box-shadow: 0px 8px 8px var(--color-black);
    border: 3px solid var(--color-darkRed);
    .input-control{
        @include flex-column();
        gap: 1rem;
        width: 100%;
        input, .input-type{
            font-family: var(--font-text);
            font-size: 1.25rem;
            text-align: center;
            padding: .5rem 0;
            border-radius: 5px;
            border: 2px solid var(--color-darkRed);
            &:hover{
                border: 2px solid green;
            }
        }

    }

    button{
        background-color: var(--color-darkRed);
        color: var(--color-white);
        border-radius: 10px;
        padding: .6rem 1rem;
        text-align: center;
        box-shadow: 0px 2px 4px var(--color-black);
        font-family: var(--font-text);
        font-size: 1.25rem;
        border: 2px solid var(--color-black);
        transition: all .3s ease-in-out;
        &:hover{
            background-color: lightgreen;
            color: var(--color-black);
            cursor: pointer;
        }
        span{
            margin-right: 4px;
        }
    }
}

//items-list
.items-list{
    width: 100%;
    min-height: 100vh;
    .shopping-list{
        margin: 3rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        font-family: var(--font-text);
        font-size: 1.8rem;
        list-style-type: none;
        .textList{
            @include flex-center();
            background-color: var(--color-black);
            border-radius: 10px;
            padding: .25rem 0;
            color: var(--color-white);
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
        }

        li{
            display: flex;
            place-items: center;
            justify-content: space-between;
            padding: .4rem 1.5rem;
            border-radius: .5rem;
            box-shadow: 0px 5px 7px 2px var(--color-black);
            background-color: var(--color-white);
            text-transform: lowercase;
            &:hover{
                background-color: #fbfb80;
                cursor: pointer;
            }

            .item-details{
                display: flex;
                gap: 1.25rem;
                .quantity-item{
                    color: var(--color-darkRed);
                }
            }
        }
    }
}

.copyright{
    width: 90%;
    display: flex;
    justify-content: right;
    p{
        font-family: var(--font-text);
        line-height: 1.5rem;
        text-align: right;
        color: var(--color-black);
        font-weight: 600;
        background-color: rgb(255, 255, 255, .65);
        padding: .5rem .75rem 0.5rem 1.5rem;
        border-radius: 60px 0px 0px 60px;
    }
}

//Modal
.modal{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    place-items: center;
    justify-content: center;
    background: url(/img/paper.jpg) no-repeat center / cover;
    .contentModal{
        min-height: 100vh;
        @include flex-center();
        flex-direction: column;
        gap: 3rem;
        text-align: center;
        padding: 0 1.5rem;
        h1 {
            font-family: var(--font-title);
            font-size: 3rem;
            letter-spacing: .25rem;
            text-transform: uppercase;
            color: rgb(187, 0, 0);
            text-shadow: 0px 4px 5px var(--color-white);
        }
        .welcomeContent{
            @include flex-center();
            flex-direction: column;
            gap: 1.5rem;
            p{ 
                font-family: var(--font-text);
                font-size: 2.25rem;
                color: var(--color-black);
            }
            img{
                width: 180px;
            }
        }
        .addItem{
            padding: .5rem;
            width: 180px;
            font-family: var(--font-text);
            font-size: 1.5rem;
            color: var(--color-white);
            background-color: #000;
            border-radius: 15px;
            transition: width .4s ease-in-out;
            &:hover{
                width: 200px;
                background-color: var(--color-darkRed);
                border: 2px solid var(--color-white);
                cursor: pointer;
            }
        }
    }
}

//modalAlert
.modal-alert{
    position: absolute;
    background-color: rgb(255, 255, 255, .7);
    width: 100%;
    min-height: 100vh;
    place-items: center;
    justify-content: center;
    .content-alert{
        width: 240px;
        background-color: var(--color-white);
        padding: .75rem 1.25rem 1.5rem;
        @include flex-column();
        box-shadow: 3px 6px 5px var(--color-darkRed);
        border-radius: 20px;
        border: 2px solid var(--color-darkRed);
        .details-alert{
            font-family: var(--font-title);
            font-size: 1.25rem;
            text-align: center;
            h2{
                margin-bottom: 1rem;
                color: var(--color-darkRed);
            }
        }
        .close-alert{
            margin-left: 200px;
            color: var(--color-black);
            font-size: 1.5rem;
            font-weight: 700;
            padding: .25rem 0;
            border: none;
            background-color: var(--color-white);
            transform: translateY(0);
            transition: all .4s ease-in-out;
            &:hover{
                transform: translateY(-3.5px);
                color: var(--color-darkRed);
            }
        }
    }
}

@import './_media.scss'