@import url("https://fonts.cdnfonts.com/css/shantell-sans");
@import url("https://fonts.cdnfonts.com/css/playpen-sans");
* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-darkRed: rgb(142, 1, 1);
  --font-title: "Playpen Sans", sans-serif;
  --font-text: "Shantell Sans", sans-serif;
}

body {
  min-height: 100vh;
  background: url(/img/market.jpeg) no-repeat center/cover;
}

.contentApp {
  width: 100%;
  min-height: 100vh;
  margin: 2.5rem 0 1.5rem;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-darkRed);
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

.leftSide {
  width: 250px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 8px 8px var(--color-black);
  border: 3px solid var(--color-darkRed);
}
.leftSide .input-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.leftSide .input-control input, .leftSide .input-control .input-type {
  font-family: var(--font-text);
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 5px;
  border: 2px solid var(--color-darkRed);
}
.leftSide .input-control input:hover, .leftSide .input-control .input-type:hover {
  border: 2px solid green;
}
.leftSide button {
  background-color: var(--color-darkRed);
  color: var(--color-white);
  border-radius: 10px;
  padding: 0.6rem 1rem;
  text-align: center;
  box-shadow: 0px 2px 4px var(--color-black);
  font-family: var(--font-text);
  font-size: 1.25rem;
  border: 2px solid var(--color-black);
  transition: all 0.3s ease-in-out;
}
.leftSide button:hover {
  background-color: lightgreen;
  color: var(--color-black);
  cursor: pointer;
}
.leftSide button span {
  margin-right: 4px;
}

.rightSide {
  width: 100%;
}
.rightSide .shopping-list {
  margin: 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-family: var(--font-text);
  font-size: 1.8rem;
  list-style-type: none;
}
.rightSide .shopping-list .textList {
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: var(--color-black);
  border-radius: 10px;
  padding: 0.25rem 0;
  color: var(--color-white);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.rightSide .shopping-list li {
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 7px 2px var(--color-black);
  background-color: var(--color-white);
  text-transform: lowercase;
}
.rightSide .shopping-list li:hover {
  background-color: #fbfb80;
  cursor: pointer;
}
.rightSide .shopping-list li .item-details {
  display: flex;
  gap: 1.25rem;
}
.rightSide .shopping-list li .item-details .quantity-item {
  color: var(--color-darkRed);
}

.copyright {
  width: 90%;
  display: flex;
  justify-content: right;
}
.copyright p {
  font-family: var(--font-text);
  line-height: 1.5rem;
  text-align: right;
  color: var(--color-black);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0.5rem 0.75rem 0.5rem 1.5rem;
  border-radius: 60px 0px 0px 60px;
}

.modal {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  place-items: center;
  justify-content: center;
  background: url(/img/paper.jpg) no-repeat center/cover;
}
.modal .contentModal {
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  padding: 0 1.5rem;
}
.modal .contentModal h1 {
  font-family: var(--font-title);
  font-size: 3rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: rgb(187, 0, 0);
  text-shadow: 0px 4px 5px var(--color-white);
}
.modal .contentModal .welcomeContent {
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.modal .contentModal .welcomeContent p {
  font-family: var(--font-text);
  font-size: 2.25rem;
  color: var(--color-black);
}
.modal .contentModal .welcomeContent img {
  width: 180px;
}
.modal .contentModal .addItem {
  padding: 0.5rem;
  width: 180px;
  font-family: var(--font-text);
  font-size: 1.5rem;
  color: var(--color-white);
  background-color: #000;
  border-radius: 15px;
  transition: width 0.4s ease-in-out;
}
.modal .contentModal .addItem:hover {
  width: 200px;
  background-color: var(--color-darkRed);
  border: 2px solid var(--color-white);
  cursor: pointer;
}

.modal-alert {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  min-height: 100vh;
  place-items: center;
  justify-content: center;
}
.modal-alert .content-alert {
  width: 240px;
  background-color: var(--color-white);
  padding: 0.75rem 1.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 6px 5px var(--color-darkRed);
  border-radius: 20px;
  border: 2px solid var(--color-darkRed);
}
.modal-alert .content-alert .details-alert {
  font-family: var(--font-title);
  font-size: 1.25rem;
  text-align: center;
}
.modal-alert .content-alert .details-alert h2 {
  margin-bottom: 1rem;
  color: var(--color-darkRed);
}
.modal-alert .content-alert .close-alert {
  margin-left: 200px;
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.25rem 0;
  border: none;
  background-color: var(--color-white);
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}
.modal-alert .content-alert .close-alert:hover {
  transform: translateY(-3.5px);
  color: var(--color-darkRed);
}

@media screen and (max-width: 950px) {
  .rightSide .shopping-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 490px) {
  .rightSide .shopping-list {
    font-size: 1.5rem;
  }
  .rightSide .shopping-list li .item-details {
    gap: 0.65rem;
  }
}
@media screen and (max-width: 425px) {
  .rightSide .shopping-list {
    font-size: 1.25rem;
  }
  .modal .contentModal h1 {
    font-size: 2.5rem;
  }
  .modal .contentModal .welcomeContent p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 360px) {
  .leftSide {
    width: 200px;
    padding: 1.5rem;
  }
  .rightSide .shopping-list {
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */